<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<title>Ansible Galaxy + CentOS Nginx Projects</title>
</head>
<body>
<h1> Ansible Galaxy Role on centOS</h1>
<p><strong>Host:</strong> {{ inventory_hostname }}</p>
<p><strong>OS:</strong> {{ ansible_distribution }} {{ ansible_distribution_version }} </p>
<p><strong>Deployed at:</strong> {{ ansible_date_time.iso8601 }}</p>
</body>
</html>
